<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.travelplantodo">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5259423875691728~5673040379"/>
        <activity android:name=".activity.GoodMemberActivity"></activity>
        <activity android:name=".activity.MemberAddingActivity" />
        <activity android:name=".activity.MemberSendActivity" />
        <activity android:name=".activity.GiftSendActivity" />
        <activity android:name=".activity.TimetableSendActivity" />
        <activity android:name=".activity.TravelPlanRoomActivity" />
        <activity android:name=".activity.TravelPlanSendActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>